html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.banner-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
   
    display: table;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/banner.JPG');
    background-position: center top;
    color: white;
      
}


.topnav-replace {
    display: none;
    width: 100%;
    overflow: hidden;
  }

.icon-replace {
    margin-right: 10%;
    margin-top: 5%;
      
  }



.topnav {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  

.top-left-icon {
    width: 80px;
    height: 80px;
}


.tl-icon-container {
    margin-left: 0%;
    width: 20%;
    text-align: center;
    margin-top: 1%;
    margin-right: 2%;
}




.menu {
    padding-top: 2%;
    width: 900px;
    color: white;
    justify-content: flex-end;
}


.spacer {
    flex-grow: 1;
}

.header-menu-item {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin-right: 3%;
}

.apply-button {
    display: inline-block;
    margin-top: 1%;
    margin-right: 3%;
    font-size: 15px;
    height: 45px;
    width: 120px;
    font-weight: bold;
    color: white;
    background-color: rgba(37, 226, 0, 255);
    border-radius: 5px;
    border-color: rgba(37, 226, 0, 255);
}

.hmi-container {
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

td {
    width: 100px;
}



.banner-left-data-container {
    width: 50%;
    height: auto;
    vertical-align: middle;
    top: 40%;
    margin-left: 7%;
    margin-top: 20%;

}

.banner-title-1 {
    font-size: 5vmax;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.banner-title-2 {
    font-size: 4vmax;
    font-family: sans-serif;
    color: white;
}

.banner-info {

    font-size: 3vh;
    color: white;
    font-family: sans-serif;

}






.stats-container {
    margin-top: 5%;
    height: auto;
    width: 100%;
}

.stats-left {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.stats-mid {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.stats-right {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.stats {
    font-size: 5vmax;
    color: rgba(37, 226, 0, 255);
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    
}

.stats-info {
    font-size: 2vmax;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;

}

.img-with-para {
    width: 100%;
    margin: 5%;
}

.img-with-para-image-container {
    display: inline-block;
    width: 50%;
    height: auto;
}

.img-with-para-image {
    height: auto;
    width: 90%;
}

.img-with-para-data-container{
    display: inline-block;
    vertical-align: top;
    width: 40%;

}

.img-with-para-title-1 {
    font-size: 4vmax;
    text-align: start;
    font-family: sans-serif;
    
}
.img-with-para-title-2 {
    font-size: 4vmax;
    text-align: start;
    font-weight: bold;
    font-family: sans-serif;
}

.img-with-para-data {
    font-size: 3vh;
    text-align: start;
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 30px;

}

.img-with-para-link {
    color: rgba(37, 226, 0, 255);
    font-size: 2.5vh;
    margin-left: 25px;
    font-family: sans-serif;
    
}

.discover-part {
    width: 100%;
    background-color: rgba(37, 226, 0, 255);
    padding-top: 50px;
    padding-bottom: 50px;
}

.discover-part-title-1 {
    text-align: center;
    font-size: 4vmax;
    font-family: sans-serif;
    color: white;
}

.discover-part-title-2 {
    font-size: 4vmax;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.discover-part-image-container {
    width: 100%;
    text-align: center;
}

.discover-part-image-1-container {
    display: inline-block;
    width: 45%;
    height: auto;
    text-align: right;
}

.discover-part-image-2-container {
    display: inline-block;
    width: 45%;
    height: auto;
    text-align: left;
}

.p4im1 {
    width: 60%;
    height: auto;
}

.p4im2 {

    width: 60%;
    height: auto;
}


.partner-network-part {
    height: auto;
    width: 100%;
    text-align: center;
    

}

.partner-network-part-title-1 {
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
    font-size: 3vmax;
    font-family: sans-serif;
    margin-bottom: 30px;

}

.partner-network-part-title-2 {
    
    text-align: center;
    font-size: 2vmax;
    padding-left: 1%;
    padding-right: 1%;
    font-family: sans-serif;

}


.partner-network-part-image {
    width: 85%;
    margin-top: 20px;

}

.part-7 {
    width: 100%;
    text-align: center;
}

.part-7-image{
    
    margin-top: 20px;
    width: 55%;
}



.media-part {
    padding-top: 50px;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: rgba(230,230,230,255);
}

.multi-title {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 40px;

}


.multi-list-container {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 30px;
}

.multi-icon {
    width: 20%;
    height: auto;
    margin-bottom: 30px;
    
}


.funding-partners-part {
    
    padding-top: 50px;
    text-align: center;
    height: auto;
    width: 100%;
}

.funding-partners-part-title{
    
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;

}


.funding-partners-part-image{
    width: 80%;
    margin-top: 20px;
}


.strat-partners-part {
    padding-top: 50px;
    text-align: center;
    height: auto;
    width: 100%;
}

.strat-partners-part-icon {
    margin-top: 20px;
    width: 24%;
    height: auto;
    margin-bottom: 30px;
    
}

.sub-part {
    padding-top: 50px;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: rgba(230,230,230,255);
    padding-bottom: 100px;
}

.sub-part-title-1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;


}

.sub-part-title-2 {
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;

}

.sub-button {
    font-size: 22px;
    height: 55px;
    width: 140px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
}



.footer-part {
    padding-top: 40px;
    width: 100%;
    display: inline-block;
    background-color: black;
    padding-bottom: 40px;
    vertical-align: middle;
}


.footer-link {
    font-family: sans-serif;
    color: rgba(37, 226, 0, 255);
    font-size: 18px;
}

.footer-crc {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;

}

.footer-left {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.footer-mid {
    text-align: center;
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.footer-right {
    display: inline-block;
    width: auto;
    right: 50px;
    vertical-align: top;
    text-align: right;
}


.footer-icons {
    display: flex;
    width: 100%;
}






.gg-menu {
    transform: scale(var(--ggs,2))
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}
.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}
.gg-menu::after {
    top: 6px
}


/****************************************************************************************/



@media (max-width: 1000px) {


    .topnav {
        display: none;
      }


      .topnav-replace {
        display: flex;
      }









    }




@media (max-width: 900px) {




    .top-left-icon{
        width: 65px;
        height: 65px;
        margin-top: 20%;
    }






    .stats-container {
        text-align: center;
        margin-top: 5%;
    }
    .stats-left {
        text-align: center;
        width: 100%;
        margin-bottom: 8%;
    }
    .stats-mid {
        text-align: center;
        width: 100%;
        margin-bottom: 8%;
    }
    .stats-right {
        text-align: center;
        width: 100%;
        margin-bottom: 8%;
    }
    .stats {
        padding-bottom: 5%;
        
    }



    .img-with-para {
        width: 100%;
        margin-bottom: 70px;
    }
    .img-with-para-image-container {
        width: 100%;
        height: auto;
        padding-bottom: 5%;
    }
    .img-with-para-image {
        height: auto;
        width: 80%;
    }
    .img-with-para-data-container{
        width: 100%;
    }
    .img-with-para-data {
        width: 75%;
    }



    
    .discover-part-title-1 {
        text-align: center;
    }
    
    .discover-part-image-container {
        width: 100%;
        text-align: center;
    }
    .discover-part-image-1-container {
        width: 100%;
        text-align: center;
    }
    .discover-part-image-2-container {
        width: 100%;
        text-align: center;
    }
    .p4im1 {
        padding-top: 35px;
        width: 80%;
    }
    .p4im2 {
        padding-top: 35px;
        width: 80%;
    }
    





  


    .partner-network-part-title-1 {
        text-align: center;
    }
    .partner-network-part-title-2 {
        margin-left: 5%;
        margin-right: 5%;
    }
    




    
    .part-7-image{
        margin-top: 30px;
        margin-bottom: 20px;
        width: 90%;
    }

    

    
    .multi-icon {
        width: 100%;
        height: auto;
        margin-bottom: 30px;  
    }
}























