html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* body{
    background-image: url("../assets/images/banner.JPG");
    background-repeat: no-repeat;
    background-attachment: scroll;
} */

.banner-container {
    /* margin: -1%; */
    width: 100%;
    height: 100%;
    /* background-image: url("../assets/images/banner.JPG"); */
    /* resize: horizontal; */
    /* overflow: scroll; */
    background-size: cover;
    background-repeat: no-repeat;
   
    display: table;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/banner.JPG');
    background-position: center top;
    color: white;
      
}








.topnav {
    display: flex;
    width: 100%;
    overflow: hidden;
    /* margin-right: 10%; */
    /* background-color: rgb(17, 31, 31); */
  }
  
  /* Style the links inside the navigation bar */
  /* .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
  
 
  

  

.banner-image {
    /* margin-left: 0px; */
    width: 100%;
}

.top-left-icon {
    /* position: absolute; */
    width: 80px;
    height: 80px;
}


.tl-icon-container {
    margin-left: 0%;
    width: 20%;
    text-align: center;
    margin-top: 1%;
    margin-right: 2%;
}




.menu {
    padding-top: 2%;
    /* flex-grow: 1; */
    width: 900px;
    color: white;
    justify-content: flex-end;
    /* align-items: flex-end; */
}


.spacer {
    flex-grow: 1;
}

.header-menu-item {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin-right: 3%;
}

.apply-button {
    display: inline-block;
    margin-top: 1%;
    margin-right: 3%;
    font-size: 15px;
    height: 45px;
    width: 120px;
    font-weight: bold;
    color: white;
    background-color: rgba(37, 226, 0, 255);
    border-radius: 5px;
    border-color: rgba(37, 226, 0, 255);
}

.hmi-container {
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

td {
    width: 100px;
}

.text-button {
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    background-color: rgba(37, 226, 0, 255);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

.banner-left-data-container {
    width: 50%;
    height: auto;
    vertical-align: middle;
    top: 40%;
    font-size: 30px;
    margin-left: 7%;
    margin-top: 20%;

}

.banner-title-1 {
    font-size: 75px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.banner-title-2 {
    font-size: 75px;
    font-family: sans-serif;
    color: white;
}

.banner-info {

    font-size: 30px;
    color: white;
    font-family: sans-serif;

}

.stats-container {
    margin-top: 5%;
    height: auto;
    width: 100%;
}

.stats-left {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.stats-mid {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.stats-right {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.stats {
    font-size: 80px;
    color: rgba(37, 226, 0, 255);
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    
}

.stats-info {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;

}

.part-3 {
    width: 100%;
    margin: 5%;
}

.part-3-image-container {
    display: inline-block;
    width: 50%;
    height: auto;
}

.part-3-image {
    height: auto;
    width: 90%;
}

.part-3-data-container{
    display: inline-block;
    vertical-align: top;
    width: 40%;

}

.part-3-title-1 {
    font-size: 60px;
    text-align: start;
    font-family: sans-serif;
    
}
.part-3-title-2 {
    font-size: 60px;
    text-align: start;
    font-weight: bold;
    font-family: sans-serif;
}

.part-3-data {
    font-size: 30px;
    text-align: start;
    font-family: sans-serif;
    /* width: 10%; */
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 30px;

}

.part-3-link {
    color: rgba(37, 226, 0, 255);
    font-size: 25px;
    margin-left: 25px;
    font-family: sans-serif;
    
}

.part-4 {
    width: 100%;
    background-color: rgba(37, 226, 0, 255);
    /* vertical-align: middle; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.part-4-title-1 {
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    color: white;
}

.part-4-title-2 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.part-4-image-container {
    width: 100%;
    text-align: center;
}

.part-4-image-1-container {
    display: inline-block;
    width: 45%;
    height: auto;
    text-align: right;
}

.part-4-image-2-container {
    display: inline-block;
    width: 45%;
    height: auto;
    text-align: left;
}

.p4im1 {
    width: 60%;
    height: auto;
}

.p4im2 {

    width: 60%;
    height: auto;
}


.part-6 {
    height: auto;
    width: 100%;
    text-align: center;
    

}

.part-6-1 {
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 30px;

}

.part-6-2 {
    
    text-align: center;
    font-size: 25px;
    padding-left: 1%;
    padding-right: 1%;
    font-family: sans-serif;

}


.part-6-image {
    width: 85%;
    margin-top: 20px;

}

.part-7 {
    width: 100%;
    text-align: center;
}

.part-7-image{
    
    margin-top: 20px;
    width: 55%;
}



.part-8 {
    padding-top: 50px;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: rgba(230,230,230,255);
}

.part-8-title {
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 40px;

}


.part-8-list-container {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 30px;
}

.part-8-icon {
    width: 20%;
    height: auto;
    margin-bottom: 30px;
    
}


.part-9 {
    
    padding-top: 50px;
    text-align: center;
    height: auto;
    width: 100%;
}

.part-9-title{
    
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;

}


.part-9-image{
    width: 80%;
    margin-top: 20px;
}


.part-10 {
    padding-top: 50px;
    text-align: center;
    height: auto;
    width: 100%;
}

.part-10-icon {
    margin-top: 20px;
    width: 24%;
    height: auto;
    margin-bottom: 30px;
    
}

.part-11 {
    padding-top: 50px;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: rgba(230,230,230,255);
    padding-bottom: 100px;
}

.part-11-1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;


}

.part-11-2 {
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;

}

.sub-button {
    font-size: 22px;
    height: 55px;
    width: 140px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
}



.footer-part {
    padding-top: 40px;
    width: 100%;
    display: inline-block;
    background-color: black;
    /* height: 150px; */
    padding-bottom: 40px;
    vertical-align: middle;
}


.footer-link {
    font-family: sans-serif;
    color: rgba(37, 226, 0, 255);
    font-size: 18px;
}

.footer-crc {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;

}

.footer-left {
    text-align: center;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.footer-mid {
    text-align: center;
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.footer-right {
    display: inline-block;
    width: auto;
    right: 50px;
    vertical-align: top;
    text-align: right;
}


.footer-icons {
    display: flex;
    width: 100%;
}




/****************************************************************************************/



@media (max-width: 800px) {





    .stats-container {
        text-align: center;
        margin-top: 5%;
    }
    .stats-left {
        text-align: center;
        width: 100%;
        margin-bottom: 8%;
    }
    .stats-mid {
        text-align: center;
        width: 100%;
        margin-bottom: 8%;
    }
    .stats-right {
        text-align: center;
        width: 100%;
        margin-bottom: 8%;
    }
    .stats {
        font-size: 40px;
        padding-bottom: 5%;
        
    }
    .stats-info {
        font-size: 22px;
    }






    .part-3 {
        width: 100%;
        margin-bottom: 70px;
    }
    .part-3-image-container {
        width: 100%;
        height: auto;
        padding-bottom: 5%;
    }
    .part-3-image {
        height: auto;
        width: 80%;
    }
    .part-3-data-container{
        width: 100%;
    }
    .part-3-title-1 {
        font-size: 35px;
    }
    .part-3-title-2 {
        font-size: 35px;
    }
    .part-3-data {
        width: 75%;
        font-size: 23px;
    }
    .part-3-link {
        font-size: 18px;
    }











    
    .part-4-title-1 {
        text-align: center;
        font-size: 35px;
    }
    .part-4-title-2 {
        font-size: 35px;
    }
    .part-4-image-container {
        width: 100%;
        text-align: center;
    }
    .part-4-image-1-container {
        width: 100%;
        text-align: center;
    }
    .part-4-image-2-container {
        width: 100%;
        text-align: center;
    }
    .p4im1 {
        padding-top: 35px;
        width: 80%;
    }
    .p4im2 {
        padding-top: 35px;
        width: 80%;
    }
    





  


    .part-6-1 {
        text-align: center;
        font-size: 25px;
    }
    .part-6-2 {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
    }
    




    
    .part-7-image{
        margin-top: 30px;
        margin-bottom: 20px;
        width: 90%;
    }

    






    
    .part-8-icon {
        width: 100%;
        height: auto;
        margin-bottom: 30px;  
    }







    .part-10 {
        padding-top: 50px;
        text-align: center;
        height: auto;
        width: 100%;
    }
    
    .part-10-icon {
        margin-top: 20px;
        width: 24%;
        height: auto;
        margin-bottom: 30px;
        
    }
  
}























